name: terraform-apply-stg

on:
  push:
    branches: ["main"]
    paths:
      - "infra/**"

permissions:
  contents: read
  id-token: write

concurrency:
  group: tf-apply-stg
  cancel-in-progress: false

env:
  TF_IN_AUTOMATION: "true"
  TF_INPUT: "false"

jobs:
  apply:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER_TF_STG }}
          service_account: ${{ secrets.GCP_SA_EMAIL_TF_STG }}

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform init (stg)
        working-directory: infra/envs/staging
        run: terraform init -no-color -backend-config=backend.hcl

      - name: Terraform apply (stg)
        working-directory: infra/envs/staging
        run: terraform apply -no-color -auto-approve
